@keyframes loader {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-9999px);
  }
}
@keyframes preloader {
  100% {
    transform: scale(2);
  }
}
.loader {
  width: 100%;
  height: 100%;
  background-color: #F5F5F5;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100000;
  overflow: hidden;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  animation: loader 0ms 3000ms both;
}
.loader__element {
  border-radius: 100%;
  border: 5px solid #0F7653;
  margin: 10px;
  animation: preloader 0.6s ease-in-out alternate infinite;
}
.loader__element--1 {
  animation-delay: 0.2s;
}
.loader__element--2 {
  animation-delay: 0.4s;
}
.loader__element--3 {
  animation-delay: 0.6s;
}

.btn {
  position: relative;
  background: linear-gradient(0deg, #9356DC 0%, #FF79DA 100%);
  color: #fff;
  padding: 15px;
  border-radius: 30px;
  border: 0;
  box-shadow: 0px 5px 15px -3px rgba(0, 0, 0, 0.5);
  transition: opacity 1000ms;
}
.btn::after {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  box-shadow: 0px 5px 5px -3px black;
  opacity: 0;
  border-radius: 30px;
  transition: opacity 1000ms;
  top: 0;
  left: 0;
}
.btn:hover {
  opacity: 0.7;
}
.btn:hover::after {
  opacity: 1;
}

.header {
  padding: 20px 0 10px 0;
  box-shadow: 0px 0px 7px 0px #6B6B6B;
  position: relative;
  z-index: 1;
  text-align: center;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

.geolocation {
  background: #E5E5E5;
  padding: 15px 0 15px 0;
  text-align: center;
}
.geolocation__city {
  margin: auto;
}

.intro {
  text-align: center;
  background-color: #F5F5F5;
  padding: 30px;
}
.intro__byline {
  font-weight: 100;
}

.steps {
  padding: 20px;
  display: grid;
}
.steps__link {
  background-color: #F5F5F5;
  border: 0;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 5px 5px 5px -3px #6B6B6B;
  margin-bottom: 20px;
  position: relative;
  margin-left: 30px;
}
.steps__link-number {
  background-color: #9356DC;
  color: #fff;
  height: 20px;
  width: 20px;
  border-radius: 10px;
  position: absolute;
  top: calc(50% - 10px);
  left: -10px;
}
.steps__link-number p {
  margin: 2px 5px 5px 6px;
  font-size: 14px;
}
.steps__link-icone {
  margin-right: 20px;
  color: #7E7E7E;
}
.steps__link:hover {
  background-color: rgba(147, 86, 220, 0.2);
}
.steps__link:hover .steps__link-icone {
  color: #9356DC;
}

.restaurants {
  background-color: #F5F5F5;
  padding: 30px;
  display: grid;
}
.restaurants .rest-prev {
  width: 100%;
  background-color: #fff;
  border-radius: 20px;
  margin-bottom: 20px;
  position: relative;
}
.restaurants .rest-prev__lien {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.restaurants .rest-prev__img {
  grid-column: 1/5;
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}
.restaurants .rest-prev__new {
  border: 0;
  background-color: #99E2D0;
  color: #0F7653;
  border-radius: 3px;
  position: absolute;
  z-index: 1;
  top: 20px;
  right: 20px;
}
.restaurants .rest-prev__new p {
  margin: 5px 20px 5px 20px;
}
.restaurants .rest-prev .heart {
  border: 0;
  background-color: #fff;
  font-size: 25px;
  grid-column: 4/5;
  grid-row: 2/4;
  position: relative;
  border-bottom-right-radius: 20px;
  transition: transform 330ms ease-in-out;
}
.restaurants .rest-prev .heart:hover .heart-full {
  height: 30px;
  transition: height 500ms;
}
.restaurants .rest-prev .heart-full {
  position: absolute;
  z-index: 3;
  top: calc(50% - 15px);
  left: calc(50% - 15px);
  height: 0px;
  overflow: hidden;
  transition: height 500ms;
}
.restaurants .rest-prev .heart-full .fa-solid::before {
  background: linear-gradient(0deg, #9356DC 0%, #FF79DA 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}
.restaurants .rest-prev .heart-empty {
  color: #000;
  position: absolute;
  z-index: 2;
  top: calc(50% - 15px);
  left: calc(50% - 15px);
}
.restaurants .rest-prev__heading {
  color: #000;
  padding-left: 15px;
  grid-column: 1/4;
  margin-bottom: 5px;
}
.restaurants .rest-prev__byline {
  color: #000;
  padding-left: 15px;
  font-weight: 100;
  grid-column: 1/4;
  margin-top: 5px;
}
.restaurants .rest-prev a:link {
  text-decoration: none;
}

.footer {
  background-color: #282828;
  color: #fff;
  margin-bottom: -20px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.footer-heading {
  font-family: "Shrikhand", cursive;
  margin-top: 0;
  padding-left: 40px;
}
.footer-nav {
  list-style-type: none;
}
.footer-nav__link {
  margin-bottom: 5px;
}
.footer-nav__link a:link {
  color: #fff;
  text-decoration: none;
}
.footer-nav__link a:visited {
  color: #fff;
  text-decoration: none;
}

@media all and (min-width: 768px) {
  .steps {
    grid-template-columns: repeat(3, 1fr);
  }
  .steps__heading {
    grid-column: 1/4;
  }
  .steps__link {
    margin-right: 0;
  }
  .restaurants {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 15px;
  }
  .restaurants__heading {
    grid-column: 1/3;
  }
  .restaurants .rest-prev {
    margin: 5px;
  }
}
@media all and (min-width: 992px) {
  .restaurants {
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 15px;
  }
  .restaurants__heading {
    grid-column: 1/5;
  }
  .restaurants .rest-prev {
    margin: 5px;
  }
}
@keyframes dish-appearing {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.header {
  width: 100%;
  padding: 20px 0 10px 0;
  text-align: center;
  position: relative;
}
.header__back {
  position: absolute;
  top: 25px;
  left: 30px;
  font-size: 20px;
  color: #000;
}

.backgroundimg {
  width: 100%;
  position: absolute;
  z-index: -1;
  top: 68px;
}

.show-backgroundimg {
  height: 250px;
}

.menu {
  background-color: #F5F5F5;
  padding: 20px;
  border-radius: 50px 50px 0 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  overflow: hidden;
}
.menu__heading {
  grid-column: 1/4;
  font-family: "Shrikhand", cursive;
  display: flex;
}
.menu__heading .heart {
  border: 0;
  background-color: #fff;
  font-size: 25px;
  grid-column: 4/5;
  grid-row: 2/4;
  position: relative;
  border-bottom-right-radius: 20px;
  transition: transform 330ms ease-in-out;
}
.menu__heading .heart:hover .heart-full {
  height: 30px;
  transition: all 500ms;
}
.menu__heading .heart-full {
  position: absolute;
  z-index: 3;
  top: calc(50% - 15px);
  left: 50px;
  height: 0px;
  overflow: hidden;
  transition: height 500ms;
}
.menu__heading .heart-full .fa-solid::before {
  background: linear-gradient(0deg, #9356DC 0%, #FF79DA 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}
.menu__heading .heart-empty {
  position: absolute;
  z-index: 2;
  top: calc(50% - 15px);
  left: 50px;
}
.menu-section {
  grid-column: 1/4;
  margin-bottom: 20px;
}
.menu-section__heading {
  text-transform: uppercase;
  font-weight: 100;
  margin-bottom: 5px;
}
.menu-section__heading-underline {
  background-color: #99E2D0;
  height: 3px;
  width: 60px;
  margin-bottom: 20px;
}
.menu-order {
  grid-column: 2/3;
  width: 200px;
  margin: auto;
}

.dish {
  width: 95%;
  background-color: #fff;
  border-radius: 20px;
  margin-bottom: 15px;
  padding: 15px;
  box-shadow: 5px 5px 5px -3px #6B6B6B;
  position: relative;
  animation: dish-appearing 300ms both;
}
.dish--1 {
  animation-delay: 0.2s;
}
.dish--2 {
  animation-delay: 0.4s;
}
.dish--3 {
  animation-delay: 0.6s;
}
.dish--4 {
  animation-delay: 0.8s;
}
.dish-detail {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 100%;
  transition: all 1s;
}
.dish-detail__heading {
  grid-column: 1/5;
  margin: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.dish-detail__byline {
  grid-column: 1/5;
  margin: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.dish-detail__price {
  margin: 5px;
  font-weight: 550;
  text-align: end;
}
.dish__add {
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  background-color: #99E2D0;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  opacity: 0;
  width: 0%;
  transition: all 1s;
}
.dish__add--circle {
  background-color: #fff;
  border-radius: 15px;
  height: 26px;
  width: 26px;
  position: absolute;
  top: calc(50% - 13px);
  left: calc(50% - 13px);
}
.dish__add--check {
  font-size: 20px;
  color: #99E2D0;
  padding: 3px;
}
.dish:hover .dish-detail {
  width: 85%;
}
.dish:hover .dish__add {
  opacity: 1;
  width: 15%;
}
.dish:hover .dish__add--circle {
  animation: rotation 1s both;
}

@media all and (min-width: 992px) {
  .menu-section {
    grid-column: auto;
    padding: 20px;
  }
}

/*# sourceMappingURL=style.css.map */
