$colour-primary: #9356DC;
$colour-secondary: #FF79DA;
$colour-tertiary: #99E2D0;
$colour-background: #F5F5F5;
$colour-background-geoloc: #E5E5E5;
$colour-background-footer: #282828;
$colour-white: #fff;
$colour-black: #000;
$colour-icon: #6B6B6B;
$colour-tertiary-dark: #0F7653;