.header{
    padding: 20px 0 10px 0;
    box-shadow: 0px 0px 7px 0px $colour-icon; 
    position: relative;
    z-index: 1;
    text-align: center;
}

.backgroundimg{
    width:100%;
}

.footer{
    background-color: $colour-background-footer;
    color: $colour-white;
    margin-bottom: -20px;
    &-nav{
        list-style-type: none;
    }
}